*{
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logoposition{
    margin: 0px 80px 0px 0px;
    margin-left: auto;
}

#logo{
    width: 50px;
}

#background{
    margin: 0px 0px 0px 40px;
    background-image: url(../img/logo.png);
    background-size: cover;
    width: 160px;
    height: 160px;

}

#search{
    border: 1px solid #42FF00;
    width: 400px;
    height: 35px;
    border-radius: 20px;
    padding-left: 10px;
}

.slide1{
    width: 80%;
    height: 40%;
    margin: 0 auto;
    /* border-radius: 25px;    */
    margin-bottom: 30px;
}

#Goodtext{
    font-size: 25px;
    font-weight: bold;
    margin-left: 10%;
}
#Goodmain{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.Goodimg{
    width: 15%;
    height: 15%;
}

#Goodtext1{
    font-size: 25px;
    font-weight: bold;
    margin-left: 10%;
}

#menu{
    position: absolute; 
    right: 10vw; 
    top: 7vh;
}

#menu ul{
    display: flex;
    justify-content: space-around;
}

#menu ul li{
    list-style: none;
    width: 100px;
}

